:root {
  --background-color: #F2F1E9; 
  --text-color: #2b3f4c; 
  --secondary-text: #6F7D86; 
  --primary-button: #4c9ca4; 
  --primary-hover:#5a7896;
  --secondary-button: #728185; 
  --secondary-hover:#979f9e;
}

  
